# Base Dependencies
matplotlib>=3.2.2,<3.9
numpy>=1.18.5,<1.24.0
opencv-python<=4.10.0.84  # For image processing
Pillow==10.1.0  # Ensure compatibility with PyTorch
PyYAML>=5.3.1,<6.1.0
requests>=2.23.0,<=2.31.0
scipy>=1.4.1,<=1.12.0
torch>=1.7.0,!=1.12.0,<=2.0.1
torchvision>=0.8.1,!=0.13.0,<=0.20.1
tqdm>=4.41.0
protobuf<4.21.3

# Logging and Monitoring
tensorboard>=2.4.1

# Plotting and Visualization
pandas>=1.1.4,<=2.1.1
seaborn>=0.11.0,<=0.13

# Core Flask Application
flask==3.0.3
gunicorn==22.0.0  # For production server

# Utility Libraries
gdown<=5.2.0
certifi==2023.7.22  # SSL certificates for requests
charset-normalizer==3.2.0  # String encoding/decoding

# Export Dependencies (Uncomment if needed)
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras for Development
ipython  # Interactive notebook
psutil  # System utilization monitoring
thop  # FLOPs computation

# Optional Dependencies (Uncomment if required)
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow
# boto3==1.35.20  # AWS SDK for Python
# botocore==1.35.20  # AWS core services
# aiohttp<=3.11.9  # Async HTTP client
# aiosignal==1.3.1  # Async utilities

# Package Management
setuptools==75.6.0
#pip==24.3.1
